<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_26b97644f42f9a7fa9d8be061c594788 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_26b97644f42f9a7fa9d8be061c594788" ></div>
        
</body>
<script>
    
    
            var map_26b97644f42f9a7fa9d8be061c594788 = L.map(
                "map_26b97644f42f9a7fa9d8be061c594788",
                {
                    center: [41.8781, 1.85],
                    crs: L.CRS.EPSG3857,
                    zoom: 9,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_1ed991e591c5bec6e9eef70192e7cac2 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_1ed991e591c5bec6e9eef70192e7cac2.addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            var marker_2ced7ef532da43667ad1b1088611828a = L.marker(
                [41.135534, 0.952761],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_2ced7ef532da43667ad1b1088611828a.bindTooltip(
                `<div>
                     Embassament de Riudecanyes
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_80d794a3ce3e58baea1a63bcf0b5e1d3 = L.marker(
                [41.251434, 0.91491],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_80d794a3ce3e58baea1a63bcf0b5e1d3.bindTooltip(
                `<div>
                     Embassament de Siurana
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6d74f8a81156b9397b18be9269ed7f5c = L.marker(
                [42.119826, 1.603408],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_6d74f8a81156b9397b18be9269ed7f5c.bindTooltip(
                `<div>
                     Embassament de la Llosa del Cavall
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_348ff012fcf7bd73cfe6eb856ea9706f = L.marker(
                [41.970321, 1.602382],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_348ff012fcf7bd73cfe6eb856ea9706f.bindTooltip(
                `<div>
                     Embassament de Sant Ponç
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe75c859e8fc66a84eec7a5f23069cee = L.marker(
                [41.977093, 2.515127],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_fe75c859e8fc66a84eec7a5f23069cee.bindTooltip(
                `<div>
                     Embassament de Susqueda
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ee67d337ff350f4fa29008f1f97c29cc = L.marker(
                [42.349122, 2.827378],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_ee67d337ff350f4fa29008f1f97c29cc.bindTooltip(
                `<div>
                     Embassament de Darnius Boadella
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_40a4c46b78d0809df16ecd2ac3cb1393 = L.marker(
                [41.973856, 2.385534],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_40a4c46b78d0809df16ecd2ac3cb1393.bindTooltip(
                `<div>
                     Embassament de Sau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_58530b861704f13e26e66b4f16dd0597 = L.marker(
                [42.129728, 1.878302],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_58530b861704f13e26e66b4f16dd0597.bindTooltip(
                `<div>
                     Embassament de la Baells
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d7104067b3ec4378d12eb2e09b57c646 = L.marker(
                [41.258044, 1.640253],
                {}
            ).addTo(map_26b97644f42f9a7fa9d8be061c594788);
        
    
            marker_d7104067b3ec4378d12eb2e09b57c646.bindTooltip(
                `<div>
                     Embassament de Foix
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>